

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

 * { font-family: 'Open Sans', sans-serif;
text-align: center;
}

 input [value="Enviar"] {background-color: black;}

label {color:rgb(184, 184, 184) ;}




input { color: crimson;}

input  {
    border-radius:32px; 
    background-color: rgb(219, 219, 219);
    border: 0ch;
   
}

input [name="genero"] {color: blue;}

#genero { color: rgb(119, 119, 119);}

#rodape { 
    background-color: rgb(126, 125, 125);
    color: rgb(255, 255, 255);
    font-size:xx-small;
    text-align: center;
}


button[class="bt"] { color: crimson;}



