/* 

main {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    


}

.input-text {
    display: flex;
    height: 30px;
    text-align: left;
    font-size: 20px;
    align-content: center;
    justify-items: center;
    

} */